.bordes{
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.formulario{
  width: min(60rem, 90%);
  margin: 0 auto;
  padding: 2rem;
  opacity: 0.93;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.sombra{
  -webkit-box-shadow: 0px 5px 15px 0px rgb(74 71 74 / 57%);
  -moz-box-shadow: 0px 5px 15px 0px rgba(74,71,74,0.57);
  box-shadow: 0px 5px 15px 0px rgb(74 71 74 / 57%);
  padding: 2rem;
}
.colorcambia{
  animation-name: colorcambia;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.colorcambia2{
  animation-name: colorcambia;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.hero {
	height: 60rem;
	background: url(../public/assets/mate1.png) center center / cover no-repeat;
  margin-bottom: 12px;
}
.text{
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-color: gold;
}
.btn{
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
@keyframes colorcambia{
  0%{color: black;}
  20%{color: blue;}
  40%{color: violet;}
  60%{color: red;}
  80%{color: orange;}
  100%{color: gold;}
}